.about {
  background-color: var(--light-color);

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 160%;
    color: var(--dark-color);
    max-width: 891px;
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  }

  &__digit {
    color: var(--accent-color);
    font-weight: 600;
    font-size: 70px;
    line-height: 160%;
  }

  &__text {
    color: var(--text-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    margin: 0;
  }

  &__item {
    grid-column: 3 span;
  }

}
