.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--light-color);
  text-align: center;
  padding: 25px 54px;
  min-width: 260px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;

  &--dark {
    background-color: var(--dark-color);
    line-height: 26px;

  }
}
