<header class="header">
  <div class="container-fluid header__container">
    <a class="logo" href="#">
      <img loading="lazy" src="../img/logo.svg" class="image" width="228" height="48" alt="логотип RoboSchool">
    </a>
    <nav class="nav" title="Главное меню">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#about" class="nav__link" data-scroll>О школе</a>
        </li>
        <li class="nav__item">
          <a href="#trainers" class="nav__link" data-scroll>Тренеры</a>
        </li>
        <li class="nav__item">
          <a href="#tariffs" class="nav__link" data-scroll>Стоимость</a>
        </li>
      </ul>
    </nav>
    <a href="tel:+380990000000" class="phone">+38 099 000 00 00</a>
  </div>
</header>
